body {
    background-color: #0d1117;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.input-menu {
    display: flex;
    flex-direction: row;
    color: white;
    margin: 0.4vh;
}

p {
    margin: 0px;
}

.title {
    padding-left: 3vw;
}

h2, h3, * {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-bottom: 5px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
}

h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}

ul {
    list-style: none; /* Remove default bullets */
  }
  
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: white; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    /*margin-left: -1em;  Also needed for space (tweak if needed) */
}

li {
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    font-size: 17px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    font-family: 'Roboto', sans-serif;
    color: white
}

.lower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wave-menu {
    display: flex;
    flex-direction: row;
}

.gui {
    display: flex;
    flex-direction: column;
}

.argand {
    margin-top: 40px;
}

.flex {
    display: flex;
    flex-direction: row;
}